.numPlayersWrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid #CCCCCC;
  background-color: aqua;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  opacity: 0;
}

.navbar {
  opacity: 0;
  background-color: #095fd6;
}

.brand {
  color: #FFFFFF;
}

.brand:hover {
  color: #FFFFFF;
}