body {
  background-image: url('./../public/letter-background.jpeg');
}

.numPlayersWrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  border: 1px solid #CCCCCC;
  background-color: #526c8e;
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  opacity: 0;
}

.playersNamesWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #CCCCCC;
  background-color: #526c8e;
  width: 500px;
  margin: 10px auto;
  padding: 20px;
  opacity: 0;
}

.navbar {
  opacity: 0;
  background-color: #095fd6;
}

.brand {
  color: #FFFFFF;
}

.brand:hover {
  color: #FFFFFF;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}

.howToPlayButton {
  margin: 10px;
  opacity: 0;
}

.allSetButton {
  width: 500px;
  opacity: 0;
}

.formError {
  color: red;
}

.bastaGameContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  width: 100%;
}

.bastaBoardWrapper {
  width: 100%;
  height: 380px;
  border: 1px solid #CCCCCC;
  background-color: #526c8e;
  padding: 20px;
  opacity: 0;
}

.scoreWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 50px;
  opacity: 0;
  border: 1px solid #CCCCCC;
  background-color: #526c8e;
}

.bastaWordAndPoints {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  justify-items: center;

}

.flag {
  width: 20px;
  height: 30px;
}